.cdBreadcrumb {
  width: 100%;
}
.cdBreadcrumb li {
  display: inline-block;
  float: left;
  margin: 0.2em 0;
}
.cdBreadcrumb li::after {
  display: inline-block;
}
.cdBreadcrumb li:last-of-type::after {
  display: none;
}
.cdBreadcrumb li > * {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #787878;
}
.cdBreadcrumb li.current > * {
  color: #23458c;
}
.cdBreadcrumb a:hover {
  color: #23458c;
}
.cdBreadcrumb li::after {
  content: "";
  height: 14px;
  width: 14px;
  background: url(/icons/angleIcon.png) no-repeat center center;
  vertical-align: middle;
}
